.navbar{
    background: #ef5455;
}

.nav-link , .navbar-brand{ 
    color: #fff;
     cursor: pointer;
    }

.nav-link{ margin-right: 1em !important;} 

.nav-link:hover{ 
    background: #c43939; 
    color: #fff; 
}

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  color: #fff;}

.navbar-brand{
    margin-left: 0.5%;
    font-size: 1.5rem;
}
.brand-icon {
    width: 7%;
    height: auto;
    max-width: 46px;

    border-radius: 50%;
    
    background: url(g12.png);
    margin: 0px 5px;
}




.description h1{
    color:#ef5455 ;
}


.description p{
    color:#000;

}


.headings{
    color: #ef5455;
}

.why-flow-root img{
    width: 40%;
    border: #d3d3d3 solid 4px;
    border-radius: 20px;

}

.mockup-home img{
    height: auto;
    width: 100%;
}

.screenshot-why-section img{
    height: auto; 
    width: 60%;
}

.why-flow-root i{
    font-size: 40px;
}

.contact-email{
    color: inherit;
}

.contact-email :hover{
    color:#ef5455
}

.footer-section .footer-contents{
    background-color: #ef5455;
    display: flex;
    justify-content: center;
}
.footer-section p,a{
    display: inline-block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    
}

.footer-section a:hover{
    color: #702828;
}

.download-button:hover{
background-color: #ef5455;
border: #ef5455 solid 1px;
}
